:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend, var(--default-font-family);
  background: #ffffff;
  width: 100vw;
}

.main {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.header {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.resume {
  background-color: #fff;
  border: 1.6px solid #f9735f;
  border-radius: 10000px;
  color: #f9735f;
  padding: 0.4rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.resume:hover {
  opacity: 80%;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(12px);
  -o-backdrop-filter: blur(12px);
  -moz-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.content-header {
  padding: 0px 11rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 8.6rem;
}

.content-header .top-border {
  width: 100%;
  position: relative;
  height: fit-content;
}

.content-header > .top-border > .border-svg {
  width: 100%;
  height: 75px;
  position: absolute;
}

.top-border > .title {
  position: absolute;
  display: flex;
  gap: 0.4rem;
  top: 1.1rem;
  left: 0.8rem;
  font-size: 0.8rem;
  font-weight: 400;
  align-items: center;
  color: #555555;
}

.content-header > .title {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  position: relative;
}

.highlight {
  color: #f9735f;
  text-decoration: underline;
}

.end-line {
  display: flex;
  align-items: flex-start;
  font-size: 3rem;
  font-weight: 600;
}

.content-header > .background {
  position: absolute;
  width: 50rem;
  height: 40rem;
  top: -5rem;
  left: calc(50% - 50rem / 2);
  background: url(./assets/images/introductionBackground.png) no-repeat center;
  background-size: 100% 100%;
  z-index: -2;
}

.content-header > .blur {
  position: absolute;
  width: 70%;
  height: 40rem;
  top: -6rem;
  left: calc(50% - 70% / 2);
  background: url(./assets/images/backgroundBlur.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.end-border {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.end-left-border {
  position: relative;
  width: 18rem;
}

.end-left-border > .title {
  position: absolute;
  display: flex;
  gap: 0.4rem;
  bottom: 1.1rem;
  left: 0.8rem;
  font-size: 1.1rem;
  font-weight: 400;
  align-items: center;
  color: #555555;
}

.content-introduction {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 4rem;
  position: relative;
  padding: 0px 11rem;
}

.avatar {
  position: relative;
  width: 26rem;
  height: 36rem;
}

.avatar > .decoration {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  display: flex;
  gap: 0.6rem;
}

.content-introduction > .introduction {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(100% - 30rem);
}

.introduction > div > span,
div {
  font-size: 2rem;
  font-weight: 500;
  display: inline;
}

.introduction > div > .name {
  position: relative;
  width: fit-content;
}

.introduction > div > .name > .underline {
  background-color: rgba(251, 155, 114, 0.78);
  height: 0.4rem;
  width: 100%;
  position: absolute;
  bottom: 0.4rem;
  left: 0;
}

.introduction > p {
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
}

.introduction div.subtitle {
  display: flex;
  width: 100%;
  gap: 1.2rem;
  align-items: center;
}

.introduction div.subtitle > .line {
  width: 100%;
  height: 0.05rem;
  background-color: #f9735f;
}

.introduction div.subtitle > span {
  font-size: 1rem;
  font-weight: 400;
  color: #111111;
  text-wrap: nowrap;
}

.introduction div.subtitle-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.introduction div.subtitle > span.subtitle-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #555555;
  text-wrap: nowrap;
}

.avatar-background-blur {
  position: absolute;
  width: 95rem;
  height: 48rem;
  top: -6rem;
  left: -18rem;
  background: url(./assets/images/avatarBackgroundBlur.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.avatar-background-layer {
  position: absolute;
  width: 62.5rem;
  height: 44rem;
  top: 0.2rem;
  left: -12rem;
  background: url(./assets/images/avatarBackgroundLayer.png) no-repeat center;
  background-size: 100% 100%;
  z-index: -2;
}

.scroll-introduction-container {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  border-top: 1px solid #f9735f;
  border-bottom: 1px solid #f9735f;
  position: relative;
  height: 5rem;
  margin-top: 4rem;
}

.scrolling-element {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
}

.scrolling-element > span {
  color: #f9735f;
  font-size: 2rem;
  font-weight: 500;
  white-space: nowrap;
}

.scrolling-element.primary {
  animation: primary 10s linear infinite;
}

.scrolling-element.secondary {
  animation: secondary 10s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.project {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 0px 11rem;
}

.project > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.project > .title .text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project > .title .text h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #111111;
}

.project > .title .text .highlight {
  color: #f9735f;
  text-decoration: none;
}

.project > .title .text p {
  font-size: 1rem;
  font-weight: 400;
  font-weight: 500;
  color: #555555;
}

.project-detail {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.project-image {
  width: 100%;
  border-radius: 20px;
}

.project-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #555555;
  text-wrap: nowrap;
}

.project-goal {
  color: #191919;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 3rem;
}

.project-tag {
  padding: 0.6rem 1rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 30px;
  border: #00a070 1px solid;
  font-size: 1rem;
  font-weight: 500;
  text-wrap: nowrap;
  color: #00a070;
}

.vector-4e {
  position: relative;
  width: 389px;
  height: 230px;
  margin: 104px 0 0 0;
  background: url(./assets/images/0a794d18-91e8-47d4-b57f-11c1ec69ae0d.png)
    no-repeat center;
  background-size: cover;
  z-index: 134;
  overflow: visible auto;
}

.frame-52 {
  position: relative;
  width: 1897px;
  height: 864px;
  margin: 392px 0 0 0;
  background: #f9735f;
  z-index: 136;
  overflow: hidden;
}
.group-53 {
  position: relative;
  width: 1464px;
  height: 864px;
  margin: 0 0 0 217px;
  z-index: 138;
}
.group-54 {
  position: absolute;
  width: 1464px;
  height: 864px;
  top: 0;
  left: 0;
  z-index: 139;
}
.chips-55 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 864px;
  top: 0;
  left: 52px;
  color: #ffffff;
  font-family: Mamba, var(--default-font-family);
  font-size: 400px;
  font-weight: 250;
  line-height: 863.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 141;
}
.ellipse-56 {
  position: absolute;
  width: 1432.55px;
  height: 720.352px;
  top: 76px;
  left: 0;
  background: url(./assets/images/43da8c68-61f1-469f-b26a-a1081de7af5f.png)
    no-repeat center;
  background-size: cover;
  z-index: 140;
}
.vector-57 {
  position: absolute;
  width: 69px;
  height: 65.5px;
  top: 134.5px;
  left: 264px;
  background: url(./assets/images/8ec9b3c2-fc7b-4492-9267-3b193c52d68f.png)
    no-repeat center;
  background-size: cover;
  z-index: 145;
}
.vector-58 {
  position: absolute;
  width: 131px;
  height: 114px;
  top: 168px;
  left: 133px;
  background: url(./assets/images/174c921a-97f0-4858-b4f0-75116629fbd4.png)
    no-repeat center;
  background-size: cover;
  z-index: 144;
}
.vector-59 {
  position: absolute;
  width: 196px;
  height: 197px;
  top: 599px;
  left: 1138px;
  background: url(./assets/images/5fae3904-9547-47f0-bb3b-32c3fdcd8f95.png)
    no-repeat center;
  background-size: cover;
  z-index: 142;
}
.vector-5a {
  position: absolute;
  width: 107px;
  height: 90px;
  top: 706px;
  left: 1015px;
  background: url(./assets/images/cbc24806-26c8-4db4-a090-fc5384a27106.png)
    no-repeat center;
  background-size: cover;
  z-index: 143;
}
.vector-5b {
  position: absolute;
  width: 166.05%;
  height: 126.43%;
  top: -5.25%;
  left: -31.63%;
  background: url(./assets/images/ff5885f0-51a3-43b9-b2ef-ac188278abab.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 137;
}

.nbsp-5e {
  position: relative;
  color: #111111;
  font-family: Lexend, var(--default-font-family);
  font-size: 50px;
  font-weight: 500;
  line-height: 62.5px;
  text-align: left;
}
